@font-face {
  font-family: Helvetica;
  src: url(fonts/helvetica/Helvetica.ttc);
}
@font-face {
  font-family: Herm-Bold;
  src: url(fonts/hurme_geometric/HurmeGeometricSans4_Bold.otf)
}
@font-face {
  font-family: Museo-500;
  src: url(fonts/museo/MuseoSans_500.otf)
}

:root {
  --thoma-orange: #f26f24;
  --thoma-magenta: #d40e86;
  --foundation-gray: #666366;
  --fg-white: #eee;
  --bg-black: #111;
  --primary-font: 'Helvetica', sans-serif;
  --thoma-font: 'Herm-Bold';
  --foundation-font: 'Museo-500';
}

* { margin: 0; padding: 0; box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #333;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  font-family: var(--primary-font);
}

body {
  background: var(--bg-black);
  color: var(--fg-white);
}

.container {
  overflow-y: hidden;
  max-width: 1200px;
}

.header {
  padding: 1em;
  padding-bottom: 4em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, #111 64%, rgba(0,212,255,0) 100%);
}

.main {
  max-width: inherit;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  z-index: -1;
}

.search {
  width: 96%;
  outline: 2px solid var(--foundation-gray);
  padding: 1em;
  margin: 2em 0;
  background: var(--bg-black);
  color: var(--fg-white);
  font-family: var(--primary-font);
  letter-spacing: .25em;
  font-size: 1rem;
  border: none;
}

.menu-button {
  padding: 1em;
  outline: 1px solid var(--foundation-gray);
  font-size: 1rem;
}

.menu-button:hover {
  cursor: pointer;
}

.category-menu {
  margin-top: 5em;
}

.category-menu__dropdown {
  display: none;
}

.category-menu__dropdown a {
  display: block;
  color: var(--fg-white);
  text-decoration: none;
  outline: 1px solid var(--foundation-gray);
  padding: 1em;
}
.category-menu__dropdown a:hover {
  background: var(--foundation-gray);
}

.category-menu__dropdown a:focus {
  border: 0px solid;;

}

.back-button {
  font-size: 3rem;
  color: #eee;
}

.logos {
  display: flex;
  align-items: center;
}

.thoma-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: .325em;
  /* transform: scale(0.5); */
}

.thoma-logo__thoma {
  font-family: var(--thoma-font);
  font-size: 3rem;
  color: var(--accent-color);
  margin: 0;
  padding: 0;
  
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
  text-shadow: 1px 1px 3px var(--accent-color);
}

.thoma-logo__foundation {
  font-family: var(--foundation-font);
  color: #666366;
  font-size: 1.0175rem;
  padding: 0;
}

.av-logo {
  font-family: 'Space Mono', monospace;
  font-size: 3rem;
  margin-left: .5em;
  color: var(--thoma-magenta);
  /* text-shadow: 1px 1px 2px var(--thoma-magenta); */
}

.neon {
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-width: 2px;
}

.pink {
  -webkit-text-stroke-color: var(--thoma-magenta);
  text-shadow: 1px 1px 3px var(--thoma-magenta);
}

.orange {
  -webkit-text-stroke-color: var(--thoma-orange);
  text-shadow: 1px 1px 3px var(--thoma-orange);
}

.section {
  min-height: 90vh;
  max-height: 96vh;
  flex: 1 2 5%;
  padding: 1em 4em;
  overflow-y: auto;
}

.space {
  width: 100%;
  padding: 8rem 0;
}

.exhibition-title {
  font-size: 2.5rem;
  margin-bottom: .5em;
  letter-spacing: .05em;
}

.left-entry__text {
  font-size: 1.125rem;
  margin: 1em 0;
  line-height: 1.4em;
}

.entry {
  margin: 10em 0;
}

.entry__image {
  width: 100%;
}
.entry__artist {
  margin: .5em 0;
}

.entry__title {
  font-weight: 400;
  font-style: italic;
}

.entry__date {
  font-style: normal;
}


/*
  Herm Geometric Bold
  Helvetica Regular
  Helvetic Italic
  Helvetica Bold
  Public Sans Black
  Museo 500
*/